<!DOCTYPE html>
<html>
<head>
    <title>Camera Feed</title>
</head>
<body>
    
    <!-- <h1>Welcome to the Live Camera Feed</h1> -->
    <!-- <p>Click <a href="/video">here</a> to view the live video stream.</p> -->

    <form action="" method="post">
        <input type="text" id="username" name="username"><br><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
</body>

<script>
    function log(){
        l = document.getElementById('username');
        p = document.getElementById('password');
    }
</script>
</html>